.home-container {
  height: 250px;
  color: white;
  text-align: left;
}
.home-content h1 {
  padding: 5px;
  padding-top: 70px;
  margin-left: 150px;
}
.home-content h2 {
  padding: 5px;
  color: #e0b50f;
  margin-left: 150px;
}
.home-button {
  margin-left: 150px;
}
.home-button .btn-hire {
  background-color: #3b8ff3;
  color: white;
  width: 160px;
}
.home-button .btn-hire:hover {
  background-color: white;
  color: #3b8ff3;
  width: 200px;
  transition: 1s;
}
.home-button .btn-cv {
  background-color: #f29f67;
  color: white;
  margin-left: 12px;
}
.home-button .btn-cv:hover {
  opacity: 80%;
  transition: 1s;
}

@media (max-width: 600px) {
  .home-container {
    padding: 0;
    margin: 0;
  }
  .home-container h2 {
    font-size: 24px;
  }
  .home-container h1 {
    font-size: 24px;
  }
  .home-button {
    display: flex;
    justify-content: flex-end;
    gap: 10px; /* Add space between buttons */
  }
  .btn {
    height: 40px;
    width: 100px;
    padding: 7px;
  }
}
